<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
       <class name="UrbanLadder.Website.Signup"/>
      <class name="UrbanLadder.Website.Ul_mandatoryfields"/>
    <class name="UrbanLadder.Website.Ul_login"/>
     <class name="UrbanLadder.Website.orderitem_Ul"/>
      <class name="UrbanLadder.Website.Ul_trackorder"/>
      <class name="UrbanLadder.Website.Ul_logout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
